@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Sistema Integral del Parque Informático</h1>
        <p class="lead">(S.I.P.I.)</p>
    </section>
    <div class="card-body">
        <div class="row">
            <section class="col-md-12" aria-labelledby="gettingStartedTitle">
                <h3 id="gettingStartedTitle">Inserte el humo aqui...</h3>

            </section>
        </div>

       

    </div>

</main>













@*<section class="col-md-4" aria-labelledby="hostingTitle">
        <h2 id="hostingTitle">Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </section>*@


